{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}" />
  </head>
  <header>
    <nav>
      {% if user.is_authenticated %} Hello, {{ user.username }} &nbsp
      <a href="{% url 'logout' %}"> Logout &nbsp </a>
      {% else %}
      <a href="{% url 'signup' %}"> Sign up </a>
      <a href="{% url 'login' %}"> Login </a>
      {% endif %}
    </nav>
  </header>
  <body>
    <main>
      <div>
        <form></form>
        {% block content %} {% endblock content %}
      </div>
    </main>
  </body>
</html>
